.main_content {
    margin: 20px 0 0 30px;
}

.main_form {
    margin-top: 20px;
    width: 100%;
}

table>tbody{
    border-top: none;
    text-align: center;
}

table thead tr th, 
table tbody tr td{
    width: 60px;
}
.main_do {
    margin-top: 20px;
}

.main_do button {
    margin-left: 10px;
    background-color: #009688;
    padding: 5px 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: #eee;
}

.main_paging {
    margin-top: 20px;
    text-align: center;
}

.main_paging>a {
    color: #000;
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid #000;
    border-radius: 5px;
}

.main_paging>a:hover {
    background:#009688;
}