* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #fff;
}

ul {
    list-style: none;
}

/* 左侧部分 */
.sidebar {
    width: 200px;
    min-height: 100vh;
    background: rgba(0,0,0,.9);
}

.side_logo span {
    display: block;
    height: 8vh;
    padding-top: 10px;
    font-size: 1.5rem;
    font-weight: bolder;
    color: #eee;
    text-align: center;
    border-bottom: 1px solid #aaa;
}

.side_mean {
    overflow: hidden;
    border-right: 1px solid #aaa;
}

.mean_list {
    color: #eee;
}

.mean_list li span{
    display: block;
    padding: 10px 15px;
}

.mean_list>li:hover span{
    display: block;
    background: #009688;
}

.mean_list>li>ul>li {
    padding: 10px 40px;
}

.mean_list>li>ul>li:hover {
    color: #009688;
}

.sub_mean {
    display: none;
}

/* 顶部部分 */
.navbar {
    margin-top: -100vh;
    margin-left: 200px;
    height: 8vh;
    border-bottom: 1px solid #aaa;
}

.navbar_user {
    float: right;
}

.navbar_user span {
    margin-right: 5vh;
    line-height: 8vh;
}

.navbar_sub {
    display: none;
    width: 150px;
    background: #009688;
    padding: atuo 10px;
}

.navbar_sub span {
    padding: auto 10px;
}

.navbar_user:hover
.navbar_sub {
    display: block;
}