<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Indomite</title>
    <!-- 连接插槽 -->
    {block name="link"}
        <link rel="stylesheet" href="__static__/iconfont/iconfont.css">
        <link rel="stylesheet" href="__static__/index/css/header.css">
        <link rel="stylesheet" href="__static__/index/css/footer.css">
    {/block}
    <link rel="stylesheet" href="__static__/index/css/index.css">
</head>

<body>
    {include file='common/header'/}
    <div class="container">
        <div class="swiper">
            <div id="picture">
                <img src="__static__/index/images/1.jpg" alt="">
                <img src="__static__/index/images/2.jpeg" alt="">
                <img src="__static__/index/images/3.jpeg" alt="">
                <img src="__static__/index/images/4.jpg" alt="">
                <img src="__static__/index/images/5.jpeg" alt="">
                <img src="__static__/index/images/1.jpg" alt="">
            </div>
            <span class="left_btn" id="left_btn">&lt;</span>
            <span class="right_btn" id="right_btn">&gt;</span>
        </div>
        <div class="content">
            <div class="main">
                <div class="list">
                    <article>
                        <h2>
                            <a href="{:url('index/article/index')}">CSS：水平居中并限定最大的宽度</a>
                        </h2>
                        <p class="description">一个 CSS 布局和样式的问题，如何在水平居中和限制最大宽度中，进行平衡...</p>
                        <p class="time">2020.10.12 21:30</p>
                    </article>
                    <article>
                        <h2><a href="">CSS：水平居中并限定最大的宽度</a></h2>
                        <p class="description">很多写博客的人，经常会想着如何写出一篇好的技术文章，那么知道了什么是垃圾的技术文章后，虽然暂时写不出好的文章，但至少已经不是垃圾的文章了</p>
                        <p class="time">2020.10.12 21:30</p>
                    </article>
                    <article>
                        <h2><a href="">CSS：水平居中并限定最大的宽度</a></h2>
                        <p class="description">很多写博客的人，经常会想着如何写出一篇好的技术文章，那么知道了什么是垃圾的技术文章后，虽然暂时写不出好的文章，但至少已经不是垃圾的文章了</p>
                        <p class="time">2020.10.12 21:30</p>
                    </article>
                    <article>
                        <h2><a href="">CSS：水平居中并限定最大的宽度</a></h2>
                        <p class="description">很多写博客的人，经常会想着如何写出一篇好的技术文章，那么知道了什么是垃圾的技术文章后，虽然暂时写不出好的文章，但至少已经不是垃圾的文章了</p>
                        <p class="time">2020.10.12 21:30</p>
                    </article>
                </div>
            </div>
            <div class="aside">
                <h3>文章归档</h3>
                <ul>
                    <li><a href="">2020年12月</a></li>
                    <li><a href="">2020年11月</a></li>
                    <li><a href="">2020年9月</a></li>
                    <li><a href="">2020年8月</a></li>
                    <li><a href="">2020年7月</a></li>
                    <li><a href="">2020年5月</a></li>
                    <li><a href="">2020年5月</a></li>
                </ul>
            </div>
        </div>
    </div>
    <script src="__static__/index/js/index.js"></script>
    {include file='common/footer'/}
</body>

</html>