<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>文章详情</title>

    {block name="link"}
        <link rel="stylesheet" href="__static__/index/css/header.css">
        <link rel="stylesheet" href="__static__/index/css/footer.css">
    {/block}
    <link rel="stylesheet" href="__static__/index/css/article.css">
    
</head>
<body>
    {include file='common/header'/}
        <div class="container">
            <div class="content">
                <h1>CSS：水平居中并限定最大的宽度</h1>
                <div class="author">Indomite前端博客</div>
                <div class="date">发布于 2020-09-14 14:13</div>
                <article>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, 
                        culpa consequatur. Debitis sit dignissimos libero dolorem? 
                        Aut ipsa illum ut eos, odit sunt cum eveniet beatae corrupti magnam accusamus ea.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, 
                        culpa consequatur. Debitis sit dignissimos libero dolorem? 
                        Aut ipsa illum ut eos, odit sunt cum eveniet beatae corrupti magnam accusamus ea.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, 
                        culpa consequatur. Debitis sit dignissimos libero dolorem? 
                        Aut ipsa illum ut eos, odit sunt cum eveniet beatae corrupti magnam accusamus ea.
                    </p>
                    
                </article>
                <div class="info">
                    <div class="tags">
                        <span>标签：</span>
                    <ul>
                        <li><a href="/tags/css.html">css</a></li>
                        <li><a href="/tags/flex.html">flex</a></li>
                    </ul>
                    </div>
                </div>
            </div>
            <div class="aside">
                <h3>相关文章</h3>
                <ul>
                    <li><a href="">CSS3中transition的使用 (2015/01/06)</a></li>
                    <li><a href="">CSS3中transition的使用 (2015/01/06)</a></li>
                    <li><a href="">CSS3中transition的使用 (2015/01/06)</a></li>
                    <li><a href="">CSS3中transition的使用 (2015/01/06)</a></li>
                    <li><a href="">CSS3中transition的使用 (2015/01/06)</a></li>
                    <li><a href="">CSS3中transition的使用 (2015/01/06)</a></li>
                    <li><a href="">CSS3中transition的使用 (2015/01/06)</a></li>
                </ul>
            </div>
        </div>
    {include file='common/footer'/}
</body>
</html>