<header>
    <link rel="stylesheet" href="__static__/iconfont/iconfont.css">
    <nav>
        <ul class="left_nav">
            <li><a href="{:url('index/index/index')}"><span>主页</span></a></li>
            <li><a href="{:url('index/article/target')}"><span>标签</span></a></li>
            <li><a href="{:url('index/index/index')}"><span>关于</span></a></li>
            <li><a href="{:url('index/index/index')}"><span>留言</span></a></li>
        </ul>
        <ul class="right_nav">
            <li><a href=""><i>&#xe605;</i></a></li>
            <li><a href=""><i>&#xe67c;</i></a></li>
            <li><a href=""><i>&#xe842;</i></a></li>
        </ul>
    </nav>
</header>