{extend name="common/frameset" /}
{block name="main"}
<link rel="stylesheet" href="__static__/admin/css/classadd.css">
<div class="body_content">
    <div class="litter_nav">
        <span><a href="{:url('admin/index/index')}">主页</a></span>
        <span>></span>
        <span><a href="{:url('admin/article/Classadd')}">添加分类</a></span>
    </div>
    <div class="main_container">
        <div class="main_title">
            <span>分类管理</span>
        </div>
        <div class="main_content">
            <form class="">
                <div class="main_name">
                    <span>标签</span>
                    <input type="text">
                </div>
                <div class="main_dis">
                    <span>描述</span>
                    <textarea name="" id="" cols="50" rows="10"></textarea>
                </div>
                <button>确认保存</button>
            </form>
        </div>
    </div>
</div>
{/block}